<div class="container">
    <div>
    <h2>Ajouter une classe </h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label hidden>ID Classe</label>
        <input type="text" [(ngModel)]="newClasse.idClasse"
        name="idClasse" class="form-control" hidden>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Numero de la classe:</label>
            <select [(ngModel)]="newClasse.numClasse" name="numClasse" class="form-control">
                <option value="1ere année">1ere année</option>
                <option value="2eme année">2eme année</option>
                <option value="3eme année">3eme année</option>
                <option value="4eme année">4eme année</option>
                <option value="5eme année">5eme année</option>
                <option value="6eme année">6eme année</option>
            </select>
        </div>
        
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Nombre max d'enfants</label>
        <input type="number" [(ngModel)]= "newClasse.nbmaxEnfant"
        name="nbmaxEnfant" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label>Salle</label>
          <select [(ngModel)]="newClasse.salle" name="salle" class="form-control">
            <option value="Les Petits Lapins">Les Petits Lapins</option>
            <option value="Les Joyeux Oursons">Les Joyeux Oursons</option>
            <option value="Les Minis Papillons">Les Minis Papillons</option>
            <option value="Les Étoiles Filantes">Les Étoiles Filantes</option>
            <option value="Les Petites Abeilles">Les Petites Abeilles</option>
            <option value="Les Rayons de Soleil">Les Rayons de Soleil</option>
          </select>
        </div>
        
        <div >
            <p class="text-info" style="font-size: 20px;" >Enseignant</p >
            <select
              class="form-control form-control-lg"
              id="idEns"
              name="idEns"
              [(ngModel)]="newIdEns"
            >
              <option *ngFor="let ens of enseignants" [value]="ens.idEnseignant">
                {{ ens.nomEns }} {{ens.prenomEns}}
              </option>
            </select>
          </div>
        <div class="mt-2">
        <button type="submit" (click)="addClasse()"class="btn btn-success">Ajouter</button>
        </div>
        </form>
        </div>