<div class="container">
    <div class="card shadow mb-4">
      <div class="card-body">
        <h1>Liste des enfants</h1>
        <table class="table table-striped">
          <tr>
            <th>Identifiant</th>

            <th>nom</th>
            <th>Prenom</th>
            <th>Date de naissance</th>
            <th>Détail</th>
            <th>Modifier</th>
            <th>Supprimer</th>



          </tr>
          <tbody *ngFor="let e of enfants">
            <tr>
              <td>{{ e.identifiant }}</td>
              <td>{{ e.nomEnf }}</td>
              <td>{{ e.prenomEnf }}</td>
              <td>{{ e.dateNaissEnf | date:'dd/mm/yyyy' }}</td>
              <td><a class="btn btn-dark" [routerLink]="['/detailEnfant', e.idEnfant]">Détail</a></td>
              <td><a class="btn btn-success" [routerLink]="['/updateEnfant',e.idEnfant]">Modifier</a></td>
              <td><a class="btn btn-danger" (click)="supprimerEnfant(e)">Supprimer</a></td> 

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>