<div style="height: 50px"></div>
<div class="container ">
  <h1 class="text-center"></h1>
  <div class="text-center">

    <h2>
      Statistique
      <img src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/null/external-dashboard-agile-flaticons-flat-flat-icons-2.png"/>    </h2>

    <br /><br />

    <hr />
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood"></div>
          <br />
          <div>
            <b> Nombre total des enseignant</b> <br />
            <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/64/null/external-teacher-back-to-school-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png"/>
            <br>
            <b>{{ counte }}</b>
          </div>

          <b></b>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood"></div>
          <br />
          <div>
            <b> Nombre total des enfants</b>
            <br>
            <img src="https://img.icons8.com/external-victoruler-linear-colour-victoruler/64/null/external-pupil-baby-victoruler-linear-colour-victoruler.png"/>            <br />
            <b> {{ counte1 }} </b>
          </div>
          <b></b>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood"></div>
          <br />
          <div>
            <b> Nombre total des classes</b><br>
            <img src="https://img.icons8.com/external-others-pike-picture/64/null/external-pupil-teacher-others-pike-picture.png"/>            <br />
            <b>{{ counte2 }}</b>
          </div>
          <b></b>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="imm" style="height: 460px;"></div>